body {
    background-color: bisque;

}

.header {
    margin: 10px;
    padding: 5px;
    position: sticky;
    top: -100px;
    z-index: 25;
}

 nav ul li {
    padding: 10px;
    display: inline-block;
    
}

ul li a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    bottom: 90px;
    
}

.btn {
    background-color: green;
    padding: 15px;
    border-radius: 20px
}

.whatsapp {
    width: 120px;

}

.item {
    display: inline-block;
    vertical-align: middle;
    padding-right: 50px;
}

ul {
    float: right;
    position: relative;
    bottom: 30px;
}

.grand {
    z-index: 2;
    position: relative;
}

.msg {
    position: absolute;
    z-index: 100;
    top: -5px;
    left: 7000;
    font-size: 70PX;
    color: white;
}

.text {
    font-size: 80px;
    color: aliceblue;
    position: relative;
    bottom: 600px;
    left: 70p;
}

.imgun {
    position: absolute;
    z-index: 4;
    width: 1200px;

}

.whatsapp {
    position: relative;

    text-align: center;
}

.imgdeux {
    position: absolute;
    z-index: 5;
    width: 400px;
    left: 700px;
    top: 300px;
}

.bjr {
    position: absolute;
    z-index: 6;
    width: 400px;
    left: 700px;
    top: 100px;
}

.café {
    position: absolute;
    z-index: 6;
    width: 400px;
    left: 700px;
    top: 100px;
}

.vocal {
    position: absolute;
    z-index: 6;
    width: 400px;
    left: 700px;
    top: 230px;

}

.hate {
    position: absolute;
    z-index: 6;
    width: 400px;
    left: 700px;
    top: 530px;
}

.sticker {
    position: absolute;
    z-index: 6;
    width: 400px;
    left: 700px;
    top: 520px;
}

.coeur {
    position: absolute;
    z-index: 6;
    width: 400px;
    left: 700px;
    top: 120px;

}

.msg2 {
    position: relative;
    bottom: -450px;
    z-index: 7;
    left: 7000;
    font-size: 20px;
    color: #f7f4f4
}

.msg3 {
    position: relative;
    bottom: -540px;
    z-index: 7;
    left: 100;
    font-size: 10px;
    color: #111010;
    float: right;
}

.et {
    position: relative;
    z-index: 400;
    padding: 10px;
    background-color: green;
    border-radius: 20px;
    bottom: -220px;
}

.hello {
    position: absolute;
    z-index: 8;
    width: 1000px;
    left: 100px;
    top: 700px;
}

.msg4 {
    position: relative;
    bottom: -750px;
    z-index: 7;
    left: 7000;
    font-size: 20px;
    color: black;
    text-align: center;
}

.hola{

        position: absolute;
        z-index: 8;
        width: 1000px;
        left: 100px;
        top: 1160px;

}
    .trois{
        position: absolute;
        z-index: 9;
        width: 500px;
        left: 600px;
        top: 1500px;

    }
    .msg5{
    Position: relative;
    bottom: -1200px;
    z-index: 10;
    left: 7000;
    font-size: 40px;
    color:black

    }
    .msg6{
        Position: relative;
        bottom: 50px;
        z-index: 10;
        left: 7000;
        font-size: 10px;
        color: white
    }
   .msg7{
    Position: relative;
    bottom: 20px;
    z-index: 10;
    left: 7000;
    font-size: 10px;
    color:white
    }
    #fond{
    background-color: black;
    display: block;
    height: 840px;
    width: 100%;
    position: relative;
    top: 300px;

}

.quatre{
    position: relative;
    z-index: 11;
    width: 300px;
    left: 100px;
    top: 100px;
    height: 600px;
    
}

.msg8{
    Position: relative;
    bottom: 10px;
    z-index: 12;
    left: -300px;
    font-size: 60px;
    float: right;
    color:whitesmoke
}
.msg9{
    Position: relative;
    bottom: 400px;
    z-index: 12;
    left: -350px;
    font-size: 50px;
    float: right;
    color:rgb(0, 128, 64)
}
.msg10{
    Position: relative;
    bottom: 250px;
    z-index: 12;
    left: 250px;
    font-size:30px;
    float: right;
    color:whitesmoke
}
.msg11{
    Position: relative;
    bottom: 250px;
    z-index: 12;
    left: -40px;
    font-size:60px;
    float: right;
    color:whitesmoke
}
    .imgcinq{
        Position: relative;
    bottom: -100px;
    z-index: 12;
    left: 500px;
    font-size:30px;
    float: right;
    
    }
.imgsix{
    Position: relative;
    bottom: 500px;
    z-index: 12;
    left: -35px;
    float: right;
    

}
.msg12{
    Position: relative;
    bottom: -400px;
    z-index: 10;
    left: 100px;
    font-size: 30px;
    color:black
}
.msg13{

    Position: relative;
        bottom: -350px;
        z-index: 10;
        left: 100px;
        font-size: 19px;
        color: rgb(73, 69, 69) 
}
        .msg14{
            Position: relative;
            bottom: 200px;
            z-index: 12;
            left: -555px;
            font-size:20px;
            float: right;
            color:rgb(117, 111, 111)
}
.imgsept{
    position: absolute;
    z-index: 9;
    width: 500px;
    left: 1px;
    top: 2000px;   
}

.msg15{
    position: relative;
    bottom: -240px;
    z-index: 7;
    left: 320px;
    font-size: 30px;
    color: #111010;
    float: right;
}
.msg16{
    position: relative;
    bottom: -240px;
    z-index: 7;
    left: 350px;
    font-size: 20px;
    color: #272222;
    float: right;
}
.msg17{
    Position: relative;
    bottom: -400px;
    z-index: 12;
    left: 499px;
    font-size:20px;
    float: right;
    color:rgb(73, 67, 67)
    }
    .msg18{
        Position: relative;
        bottom: -1000px;
        z-index: 12;
        left: -450px;
        font-size:60px;
        float: right;
        color:rgb(26, 24, 24)
    }
    .msg19{
        Position: relative;
        bottom: -900px;
        z-index: 12;
        left: -700px;
        font-size:30px;
        float: right;
        color:rgb(73, 67, 67)
    }
    .msg20{
        Position: relative;
        bottom: -1040px;
        z-index: 12;
        left: -500px;
        font-size:30px;
        float: right;
        color:rgb(73, 67, 67)
    }
    .imghuit{
        Position: relative;
        bottom: -700px;
        z-index: 12;
        left: 500px;
        font-size:30px;
        float: right;
    }
    .fond1{
           
            display: block;
            height: 2040px;
            width: 100%;
            position: relative;
            top: 300px;
            
    }